/* General Stuff */

html, body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  background-color: #ffffff;
}

body {
  width: 75%;
  margin: 0 auto;
}


/* Typography */

h1, h2, h3 {
  font-family: Arial;
  color: #000000;
}

p, li {
  font-family: Arial;
  color: #000000;
  font-size: 1.5rem;
  line-height: 1.5;
}

h1 {
  font-size: 1.7rem;
  text-align: center;
  color: #000000;
}

h2 {
  font-size: 3rem;
  text-align: left;
}

h3 {
  font-size: 2rem;
}


/* Header */

nav, article, aside, footer {
  background-color: #e5e5e5;
  padding: 1%;
}

nav {
  height: 50px;
  background-color: #585858;
  display: flex;
  margin-bottom: 10px;
}

nav ul {
  padding: 0;
  list-style-type: none;
  flex: 1;
  display: flex;
}

nav li {
  display: block;
  text-align: right;
  flex: 1;
}

nav a {
  display: inline-block;
  font-size: 2rem;
  text-decoration: none;
  color: #ffffff;
}

nav b {
  font-family: Arial;
  font-size: 4.5rem;
  display: block;
  color: #ffffff;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}


/* || main layout */

aside {
  flex: 1;
  margin-right: 10px;
  background-color: #e5e5e5;
}

article {
  flex: 4;
}

main {
  display: flex;
}

main li {
  padding-bottom: 10px;
}

footer {
  margin-top: 10px;
}


.contentPost{
  resize:none;
  background: #e5e5e5;
}
.divider{
  width:5px;
  height:auto;
  display:inline-block;
}

/* Buttons */

.button {
  background-color: #585858;
  color: #ffffff;
  border-radius: 5px;
  font-size: 36px;
  font-family: Arial;
  text-align: center;
  margin: 30px;
  margin-top: 100px;
  display: inline-block;
  justify-content: center;
}

.small-button{
  width: 50px;
  height: 20px;
}

.normal-button{
  width: 80px;
  height: 30px;
}

.large-button{
  width: 140px;
  height: 50px;
}

.container{
  margin-left: auto;
  margin-right: auto;
  position: relative;
  height: 300px;
  text-align: center;
}