{% extends 'base_layout.html' %}   

{% block content %}

  <!-- Header -->
  <nav>
    <h1>
      <a href="home-page.html">Acafeed</a>
    </h1>
    <ul>
      <li><a href="my-courses.html">My Courses</a></li>
      <li><a href="#">My Account</a></li>
      <li><a href="home-page.html">Logout</a></li>
    </ul>
  </nav>

  <!-- Title -->
  <h2>SENG 401</h2>
  <h2>#Final Prep</h2>

  <main>
    <!-- Main Content -->
    <article>
      <h3>Posts</h3>
      <ul>
        <li><a href="#">W2021 Exam Q1 Help</a></li>
        <li><a href="#">Are slides on the test?</a></li>
        <li><a href="#">Should I read the textbook?</a></li>
      </ul>
    </article>

  </main>

  <div style="padding-top: 2%; padding-bottom: 2%; text-align: center">
    <a href="create-post.html">
      <button type="button">Write a Post</button>
    </a>


  </div>

{% endblock %}