{% extends 'base_layout.html' %}   

{% block content %}

  <!-- Header -->
  {% include 'navbar.html' %}

  <!-- Title -->
  <h2>SENG 401</h2>
  <h2>#Final Prep</h2>

  <main>
    <!-- Main Content -->
    <article>
      <h3>Posts</h3>
      {% for post in channel.posts.all %}
          <ul>
         <li><a href="{% url 'channels:posthome' %}">{{ post }}</a></li>
         </ul>
      {% endfor %}
    </article>

  </main>

  <div style="padding-top: 2%; padding-bottom: 2%; text-align: center">
    <a href="create-post.html">
      <button type="button">Write a Post</button>
    </a>


  </div>

{% endblock %}