{% extends 'base_layout.html' %}   

{% block content %}

  <!-- Header -->
  {% include 'navbar.html' %}

  <!-- Title -->
{% for course in user.courses.all %}
{% for channel in course.channel_set.all %}
{% if channel.id == request.get_full_path|cut:'/channel-home/?name='|add:"0" %}

  <h2>{{ channel }}</h2>

  <a href="#">
    <button type="button">Subscribe</button>
  </a>

  <main>
    <!-- Main Content -->
    <article>
      <h3>Posts</h3>
      {% for post in channel.posts.all %}
          <ul>
         <li><a href="{% url 'channels:posthome' %}">{{ post }}</a></li>
         </ul>
      {% endfor %}
    </article>

  </main>

  <div style="padding-top: 2%; padding-bottom: 2%; text-align: center">
    <a href="{% url 'channels:createpost' %}">
      <button type="button">Write a Post</button>
    </a>


  </div>

{% endif %}
{% endfor %}
{% endfor %}

{% endblock %}