{% extends 'base_layout.html' %}   

{% block content %}

    <!-- Header -->
    {% include 'navbar.html' %}

{% for course in user.courses.all %}
{% for channel in course.channel_set.all %}
{% if channel.id == request.get_full_path|cut:'/create-post/?channel_id='|add:"0" %}

    <!-- Title -->
    <h2><a href="{% url 'courses:coursehome' %}?course_id={{course.id}}">{{ course }}</a></h2>
    <h2><a href="{% url 'channels:channelhome' %}?channel_id={{channel.id}}">#{{ channel }}</a></h2>
    <h2>New Post</h2>

    <script>
        function Postconfirm() {
            if (window.confirm('Create your post?')) {
                window.location.href = '#';
            }
        }
    </script>

    <main>

        <!-- Main Content -->

        <fieldset>
            {% if error %}
            <p> {{error}} </p>
            {% endif %}
            <div style="padding-top: 1%; padding-right: 22%; padding-bottom: 3%; text-align: left">
            <form action="{% url 'channels:createpost' %}?channel_id={{channel.id}}" method="post">

                    {% csrf_token %}
                    {{ form.as_p }}
                <input type="submit" value="Post" onclick="Postconfirm()" />

            </form>
                </div>
        </fieldset>





    </main>


{% endif %}
{% endfor %}
{% endfor %}

{% endblock %}