{% extends 'base_layout.html' %}   

{% block content %}

    <!-- Header -->
{% include 'navbar.html' %}

{% for course in user.courses.all %}
{% for channel in course.channel_set.all %}
{% for post in channel.post_set.all %}
{% if post.id == request.get_full_path|cut:'/post-home/?post_id='|add:"0" %}


    <!-- Title -->
    <h2><a href="{% url 'courses:coursehome' %}?course_id={{course.id}}">{{ course }}</a></h2>
    <h2><a href="{% url 'channels:channelhome' %}?channel_id={{channel.id}}">#{{ channel }}</a></h2>
    <h2>{{ post }}</h2>


    <!-- Delete button, should only be visible to admins: -->
    <!-- <p><button onclick="window.location.href='channel-home.html';">Delete Post</button></p> -->



        <!-- Main Post -->
        <article>
            <p>
                {{ post.content }}
            </p>
            <p><b>{{ post.created_by }}</b>
                <span style="float:right;">
                    {{ post.date_posted }}
                </span>
            </p>
        </article>
        <br>

        <h3>Replies</h3>
        <!-- Replies -->

        {% for reply in post.reply_set.all %}
        <article>
            <p>
                {{ reply.reply_content }}
            </p>
            <p><b>{{ reply.created_by }}</b>
                <span style="float:right;">
                    {{ reply.reply_date}}
                </span>
            </p>
        </article>
        <br>

        {% endfor %}

        
    <script>
        function Replyconfirm() {
            if (window.confirm('Post your reply?')) {
                window.location.href = '#';
            }
        }
    </script>


        <main>


            <fieldset>
                <center>
            <form action="{% url 'channels:posthome' %}?post_id={{post.id}}" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <div style="padding-top: 1%; padding-right: 1%; padding-bottom: 3%; text-align: right">
                <center><input type="submit" value="Reply" onclick="Replyconfirm();"></center>
                </div>
            </form>
            </fieldset>
            </center>

        </main>





    {% endif %}
    {% endfor %}
    {% endfor %}
    {% endfor %}

{% endblock %}