{% extends 'base_layout.html' %}   

{% block content %}

    <!-- Header -->
{% include 'navbar.html' %}

{% for course in user.courses.all %}
{% for channel in course.channel_set.all %}
{% for post in channel.post_set.all %}
{% if post.id == request.get_full_path|cut:'/post-home/?post_id='|add:"0" %}


<body>
    <!-- Title -->
    <h2><a href="{% url 'courses:coursehome' %}?course_id={{course.id}}">{{ course }}</a></h2>
    <h2><a href="{% url 'channels:channelhome' %}?channel_id={{channel.id}}">#{{ channel }}</a></h2>
    <h2>{{ post }}</h2>


    <!-- Delete button, should only be visible to admins: -->
    <!-- <p><button onclick="window.location.href='channel-home.html';">Delete Post</button></p> -->



        <!-- Main Post -->
        <article>
            <p>
                {{ post.content }}
            </p>
            <p><b>{{ post.created_by }}</b>
                <span style="float:right;">
                    {{ post.date_posted }}
                </span>
            </p>
        </article>
        <br>

        <h3>Replies</h3>
        <!-- Replies -->

        {% for reply in post.reply_set.all %}
        <article>
            <p>
                {{ reply.reply_content }}
            </p>
            <p><b>{{ reply.created_by }}</b>
                <span style="float:right;">
                    {{ reply.reply_date}}
                </span>
            </p>
        </article>
        <br>

        {% endfor %}

        



        <main>
        <textarea class="replyPost" id="reply" name="reply"
            placeholder="Enter your reply here... Remember, please be nice!" cols="200"
            rows="10"></textarea>
        </main>




    <script>
        function Replyconfirm() {
            if (window.confirm('Post your reply?')) {
                window.location.href = '#';
            }
        }

    </script>

    <div style="padding-top: 1%; padding-right: 1%; padding-bottom: 3%; text-align: right">
        <a href="#">
            <button type="button" onclick="Replyconfirm();">Post
            </button>
        </a>

    </div>

    {% endif %}
    {% endfor %}
    {% endfor %}
    {% endfor %}

{% endblock %}