{% extends 'base_layout.html' %}   

{% block content %}

    <!-- Header -->
    {% include 'navbar.html' %}

<body>
    <!-- Title -->
    <h2>SENG 401</h2>
    <h3>#Final Prep</h3>
    <h3>Should I read the textbook?</h3>


    <!-- Delete button, should only be visible to admins: -->
    <!-- <p><button onclick="window.location.href='channel-home.html';">Delete Post</button></p> -->



        <!-- Main Post -->
        <article>
            <p>
              Haven't looked at it yet, will it help for the final?
            </p>
            <p><b>heidi123</b>
                <span style="float:right;">
                    February 15, 18:30
                </span>
            </p>
        </article>
        <br>

        <h3>Replies</h3>
        <!-- Replies -->
        <article>
            <p>
              No don't bother
            </p>
            <p><b>aiden456</b>
                <span style="float:right;">
                    February 16, 09:10
                </span>
            </p>
        </article>
        <br>

        <article>
            <p>
              This course has a textbook?
            </p>
            <p><b>randomusername</b>
                <span style="float:right;">
                    February 17, 13:30
                </span>
            </p>
        </article>
        <br>

        



        <main>
        <textarea class="replyPost" id="reply" name="reply"
            placeholder="Enter your reply here... Remember, please be nice!" cols="200"
            rows="10"></textarea>
        </main>




    <script>
        function Replyconfirm() {
            if (window.confirm('Post your reply?')) {
                window.location.href = '#';
            }
        }

    </script>

    <div style="padding-top: 1%; padding-right: 1%; padding-bottom: 3%; text-align: right">
        <a href="#">
            <button type="button" onclick="Replyconfirm();">Post
            </button>
        </a>

    </div>

{% endblock %}