{% extends 'base_layout.html' %}

{% block content %}


  <!-- Header -->
    {% include 'navbar.html' %}

  <!-- Title -->
  <h2>Admin Menu</h2>
  <main>

    <!-- Main Content -->
    <article>
      <fieldset>
        <center><a href="{% url 'courses:admincreatecourse' %}"><button>Create Course</button></a>
          <span style="padding-left:20px"></span>
          <a href="{% url 'channels:admincreatechannel' %}"><button>Create Channel</button></a></center>
          <br>

        <form action="" method="post">
          <p><label for="Ban">Ban User:</label>
            <input type="text" name="name" id="name" placeholder="Username"/>
            <input type="submit" value="Ban"></p>
        </form>

        <form action="" method="post">
          <p><label for="Unban">Remove Ban:</label>
            <input type="text" name="name" id="name" placeholder="Username"/>
            <input type="submit" value="Unban"></p>
        </form>
      </fieldset>
    </article>

  </main>




{% endblock %}