{% extends 'base_layout.html' %}   

{% block content %}

    <!-- Header -->
    <nav>
        <h1>
            <a href="{% url 'users:homepage' %}">Acafeed</a>
        </h1> 
    </nav>

    <!-- Title -->
    <h2>Log In</h2>
    <main>

      <!-- Main Content -->
	  <article>
          <fieldset>
            <form action="{% url 'users:login' %}" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                {% if request.GET.next %}
                    <input type="hidden" name="next" value="{{ request.GET.next }}" />
                {% endif %}
                <input type="submit" value="Login" />
            </form>
            <p>Not got an account? <a href="{% url 'users:signup' %}">Sign Up</a></p>
          </fieldset>
	  </article>

    </main>

{% endblock %}
