{% extends 'base_layout.html' %}   

{% block content %}

    <!-- Header -->
    <nav>
        <h1>
            <a href="{% url 'users:homepage' %}">Acafeed</a>
        </h1> 
    </nav>

    <!-- Title -->
    <h2>Log In</h2>
    <main>

      <!-- Main Content -->
	  <article>
          <fieldset>
            {% if error %}
            <center><p> {{error}} </p></center>
            {% endif %}
            <form action="{% url 'users:login' %}" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                {% if request.GET.next %}
                    <input type="hidden" name="next" value="{{ request.GET.next }}" />
                {% endif %}
                <center><input type="submit" value="Login" /></center>
            </form>
            <center><p>Not got an account? <a href="{% url 'users:signup' %}">Sign Up</a></p></center>
          </fieldset>
	  </article>

    </main>

{% endblock %}
