{% extends 'base_layout.html' %}   

{% block content %}

    <!-- Header -->
    <nav>
        <h1>
            <a href="home-page.html">Acafeed</a>
        </h1> 
    </nav>

    <!-- Title -->
    <h2>Log In</h2>
    <main>

      <!-- Main Content -->
	  <article>
          <fieldset>
              <form action = "" method = "post">
              <p><label for="username">Username:</label>
                  <input type = "text" name = "username" id = "username"/></p>
              <p><label for="password">Password:</label>
                  <input type = "text" name = "password" id = "password"/></p>
              <p><center><input type = "submit" value = "Log In"></center></p>
              </form>
          </fieldset>
	  </article>

    </main>

{% endblock %}
