{% extends 'base_layout.html' %}   

{% block content %}

  <!-- Header -->
  <nav>
    <h1>
      <a href="{% url 'users:homepage' %}">Acafeed</a>
    </h1>
  </nav>

  <!-- Title -->
  <h2>Sign Up</h2>
  <main>

    <!-- Main Content -->
    <article>
      <fieldset>
        {% if error %}
        <div> {{error}} </div>
        {% endif %}
        <form action="{% url 'users:signup' %}" method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <center><input type="submit" value="Signup"></center>
      </form>
      <center><p>Already got an account? <a href="{% url 'users:login' %}">Sign In</a></p></center>
      </fieldset>
    </article>

  </main>

{% endblock %}