{% extends 'base_layout.html' %}

{% block content %}

  <!-- Header -->
  {% include 'navbar.html' %}

  <!-- Title -->
  <h2>My Account</h2>

  <main>
    <!-- Main Content -->
    <article>
      <fieldset>
        {% if error %}
        <div> {{error}} </div>
        {% endif %}
        <form action="{% url 'users:userprofile' %}" method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <center><input type="submit" value="Save Changes"></center>
      </form>
      </fieldset>
    </article>

  </main>

  </body>

{% endblock %}