{% extends 'base_layout.html' %}

{% block content %}

  <!-- Header -->
  {% include 'navbar.html' %}

  <!-- Title -->
  <h2>My Account</h2>

  <main>
    <!-- Main Content -->
    <article>
      <fieldset>
        <form action="" method="post">
          <p><label for="username">Username:</label>
            <input type="text" name="username" id="username" placeholder="USERNAME HERE"/></p>
          <p><label for="password">Password:</label>
            <input type="password" name="password" id="password"/></p>
          <p><label for="fname">First Name:</label>
            <input type="text" name="fname" id="fname" placeholder="NAME HERE"/></p>
          <p><label for="lname">Last Name:</label>
            <input type="text" name="lname" id="lname" placeholder="NAME HERE"/></p>
          <p><label for="email">Email:</label>
            <input type="text" name="email" id="email" placeholder="EMAIL HERE"/></p>
          <p><label for="school">School: (dropdown)</label>
          <p><label for="major">Major: (dropdown)</label>
          <p><center><input type="submit" value="Save Changes"></center></p>
        </form>
      </fieldset>
    </article>

  </main>

  </body>

{% endblock %}