<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">

  <title>Acafeed</title>
  <link rel="stylesheet" href="style.css">

  <!-- Header -->
    <nav>
        <h1>
            <a href="home-page.html">Acafeed</a>
        </h1>
      <ul>
          <li><a href="#">Admin Menu</a></li>
        <li><a href="my-courses.html">My Courses</a></li>
        <li><a href="#">My Account</a></li>
        <li><a href="home-page.html">Logout</a></li>
      </ul>
    </nav>

  <!-- Title -->
  <h2>Create Course</h2>
  <main>

    <!-- Main Content -->
    <article>
      <fieldset>
        <form action="" method="post">
          <p><label for="name">Course Name:</label>
            <input type="text" name="name" id="name" /></p>
          <p><label for="major">Major:</label>
            <input type="text" name="major" id="major" /></p>
          <p><label for="year">Year:</label>
            <input type="text" name="year" id="year" /></p>
          <p><center><input type="submit" value="Create Course"></center></p>
        </form>
      </fieldset>
    </article>

  </main>

  <!-- Footer -->
  <footer>
    <p>© Copyright 2022 Acafeed :)</p>
  </footer>

  </body>

</html>