{% extends 'base_layout.html' %}   

{% block content %}

  <!-- Header -->
    {% include 'navbar.html' %}

  <!-- Title -->
  <h2>Create Course</h2>
  <main>

    <!-- Main Content -->
    <article>
      <fieldset>
        <form action="" method="post">
          <p><label for="name">Course Name:</label>
            <input type="text" name="name" id="name" /></p>
          <p><label for="major">Major:</label>
            <input type="text" name="major" id="major" /></p>
          <p><label for="year">Year:</label>
            <input type="text" name="year" id="year" /></p>
          <p><center><input type="submit" value="Create Course"></center></p>
        </form>
      </fieldset>
    </article>

  </main>

{% endblock %}