{% extends 'base_layout.html' %}   

{% block content %}

    <!-- Header -->
    {% include 'navbar.html' %}

    <!-- Title -->
    <h2>SENG 401</h2>
    <main>

      <!-- Sidebar -->
      <aside>

        <h3>Section Number: </h3>
        <h3>Faculty: </h3>
        <h3>Professor: </h3>
        <h3>Section Number: </h3>

      </aside>

      <!-- Main Content -->
      <article>
        <h3>Channels</h3>

          {% for channel in course.channels.all %}
          <ul>
          <li><a href="{% url 'channels:channelhome' %}">{{ channel }}</a></li>
          </ul>
          {% endfor %}


      </article>

    </main>

{% endblock %}