{% extends 'base_layout.html' %}

{% block content %}

<!-- Header -->
    {% include 'navbar.html' %}





    <!-- Title -->
{% for course in user.courses.all %}
{% if course.id == request.get_full_path|cut:'/course-home/?course_id='|add:"0" %}

    <h2>{{ course }}</h2>




    <main>

      <!-- Sidebar -->
      <aside>

        <h3>Course Code: </h3>
          <p>{{ course.courseCode }}</p>
        <h3>Section Number: </h3>
          <p>{{ course.sectionNumber }}</p>
        <h3>Faculty: </h3>
          <p>{{ course.faculty }}</p>
        <h3>Professor: </h3>
          <p>{{ course.professor }}</p>
        <h3>Email: </h3>
          <p>{{ course.professorEmail }}</p>
        <h3>Year: </h3>
          <p>{{ course.year }}</p>

      </aside>

      <!-- Main Content -->
      <article>
        <h3>Channels</h3>

          {% for channel in course.channel_set.all %}
          <ul>
          <li><a href="{% url 'channels:channelhome' %}?channel_id={{channel.id}}">#{{ channel }}</a></li>
          </ul>
          {% endfor %}


      </article>

    </main>

{% endif %}
{% endfor %}

{% endblock %}