{% extends 'base_layout.html' %}

{% block content %}

<!-- Header -->
{% include 'navbar.html' %}

<!-- Title -->
<h2>Classes</h2>
<!-- Top box with all drop downs  -->
<div>
    <div>
        <h3>
            <form id="form">
                {{myFilter.form.faculty.label_tag}}
                {{myFilter.form.faculty}}
                {{myFilter.form.year.label_tag}}
                {{myFilter.form.year}}
                {{myFilter.form.search}}
                <button type='submit'>Search</button>
            </form>
        </h3>
    </div>
</div>


    <!-- Main Content -->


    <div>
        <center><h4><p>Enrolled Courses</p></h4></center>
        {% for c in checked %}
        <center><p>{{ c }}</p></center>
        {% endfor %}

        <center><h4><p>Not Enrolled Courses</p></h4></center>
        {% for u in unchecked %}
        <center><p>{{ u }}</p></center>
        {% endfor %}
        <form action="{% url 'courses:findcourses' %}" method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <center><input type="submit" value="Add to My Courses"></center>
    </div>


{% endblock %}
