{% extends 'base_layout.html' %}   

{% block content %}

  <!-- Header -->
  <nav>
    <h1>
      <a href="home-page.html">Acafeed</a>
    </h1>
    <ul>
      <li><a href="my-courses.html">My Courses</a></li>
      <li><a href="#">My Account</a></li>
      <li><a href="home-page.html">Logout</a></li>
    </ul>
  </nav>

  <!-- Title -->
  <h2>My Courses</h2>

  <main>
    <!-- Main Content -->
    <article>

      <ul>
        <li><a href="course-home.html">SENG 401</a></li>
        <li><a href="#">CPSC 441</a></li>
      </ul>
    </article>

  </main>

  <div style="padding-top: 2%; padding-bottom: 2%; text-align: center">
    <button type="button">Find Courses</button>


  </div>

{% endblock %}