{% extends 'base_layout.html' %}

{% block content %}

{% include 'navbar.html' %}

  <!-- Title -->
  <h2>Hello {{ user.name }}</h2>

  <main>
    <!-- Main Content -->
    
    <aside>
      <h3>My Courses</h3>
      {% for course in user.courses.all %}
      <ul>
        <li><a href="{% url 'courses:coursehome' %}?course_id={{course.id}}">{{ course }}</a></li>
      </ul>
      {% endfor %}

      <a href="{% url 'courses:findcourses' %}">
      <center><button type="button">Find Courses</button></center>
      </a>
    </aside>

    <article>
      <h3>Messages</h3>
      <form method = "GET">
        {% for message in user.getAllMessages %}
          <p><input type="checkbox" id="message">{{ message }}</input></p>
        {% endfor %}
        <center><input type="submit" value="Mark As Read"></center>
      </form>
      {% if not user.getAllMessages %}
        <p>No new notifications.</p>
      {% endif %}
    </article>


  </main>



{% endblock %}
