{% extends 'base_layout.html' %}   

{% block content %}

  <!-- Header -->
  <nav>
    <h1>
      <a href="home-page.html">Acafeed</a>
    </h1>
    <ul>
      <li><a href="my-courses.html">My Courses</a></li>
      <li><a href="#">My Account</a></li>
      <li><a href="{% url 'users:logout' %}">Logout</a></li>
    </ul>
  </nav>

  <!-- Title -->
  <h2>Hello {{ user.userName }}</h2>

  <main>
    <!-- Main Content -->
    
    <article>
      {% for course in user.courses.all %}
      <ul>
        <li><a href="#">{{ course }}</a></li>
      </ul>
      {% endfor %}
    </article>
    

  </main>

  <div style="padding-top: 2%; padding-bottom: 2%; text-align: center">
    <button type="button">Find Courses</button>


  </div>

{% endblock %}